@model Desafio_Estacionamento.Models.Estacionamento

@{
    ViewData["Title"] = "MarcarSaida";
}

<h1>Marcar Saída</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MarcarSaida">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" readonly="readonly"  />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioChegada" class="control-label"></label>
                <input asp-for="HorarioChegada" class="form-control" readonly="readonly" />
                <span asp-validation-for="HorarioChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSaida" class="control-label"></label>
                <input asp-for="HorarioSaida" class="form-control" />
                <span asp-validation-for="HorarioSaida" class="text-danger"></span>
            </div>
        
          
   
            <div class="form-group">
                <input type="submit" value="Marcar Saída" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
